<!DOCTYPE html>
<html>
<head>
    <title>Users - Simple UI & API Testing Application</title>
</head>

<body>

<h1>User Management</h1>

<table border="1">

    <thead>

        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>

    </thead>

    <tbody>

        {% for user in users %}

        <tr>

            <td>{{ user.id }}</td>

            <td>{{ user.username }}</td>

            <td>{{ user.email }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

</body>
</html>